.main-bg-color {
    background-color: #1e1e2d !important;
}

.edit-img-style {
    width: 75px!important;
    margin-bottom: 5px!important;
}

.list-img-style{
    width: 100px!important;
}

.small-edit-img{
    cursor: pointer !important;
}

.mouse{
    cursor: pointer !important;
}